---
layout: layouts/base.njk
---
<h1 class="text-center my-3 text-secondary py-4 fw-bold">{{ title or metadata.title }}</h1>
<form class="" action="/finish" method="GET">
	{% for set in fieldsets %}
		<fieldset id="{{ set.legend | slug }}-fieldset" class="card mb-3 {{ set.classes if set.classes }}">
			<legend class="card-header text-primary fw-bold pt-5">{{ set.legend }}</legend>
			<div class="card-body px-0 mx-5 border-top pt-3">
				{% set inputs = set.inputs %}
				{% include 'form.njk' %}
			</div>
		</fieldset>
	{% endfor %}
	<input type="submit" class="btn btn-primary" value="Valider">
</form>
