---
date: Last Modified
---
<!doctype html>
<html lang="fr">
	<head>
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{% metagen
		title=title or metadata.title,
		desc=description or metadata.description,
		url=page.url | absolute,
		img="/img/banner.png" | absolute,
		img_alt="Bulletin individuel d'affiliation",
		name="Cameo"
		%}
		<meta property="og:locale" content="fr_FR">

		<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ '/css/style.css' | url }}"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	</head>
	<body>
		<header class="w-100 p-3{% if headerClass %} {{ headerClass }}{% endif %}">
		</header>

		<main class="container{{ contentClass if contentClass }}">
			{{ content | safe }}
		</main>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
		<script src="{{ '/js/index.js' | url }}" async></script>
	</body>
</html>
