---
date: Last Modified
---
<!doctype html>
<html lang="fr">
	<head>
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{% metagen
		title=title or metadata.title,
		desc=description or metadata.description,
		url=page.url | absolute,
		img="/img/banner.png" | absolute,
		img_alt="Bulletin individuel d'affiliation",
		name="Cameo"
		%}
		<meta property="og:locale" content="fr_FR">

		<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="{{ '/css/style.css' | url }}"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="{{ '/assets/logo_vivinter.jpg' | url }}" alt="" height="30" class="d-inline-block align-text-top">
				</a>
			</div>
		</nav>

		<main class="container{{ contentClass if contentClass }}">
			{{ content | safe }}
		</main>
		<script src="{{ '/js/bootstrap.min.js' | url }}" async></script>
		<script src="{{ '/js/index.js' | url }}" async></script>
	</body>
</html>
