---
layout: layouts/base.njk
---
<h1 class="text-center my-3">{{ title or metadata.title }}</h1>
<form class="d-flex flex-column align-items-center" action="/finish" method="GET">
	{% for set in fieldsets %}
		<fieldset id="{{ set.legend | slug }}-fieldset"{% if set.classes %} class="{{ set.classes }}"{% endif %}>
			<legend>{{ set.legend }}</legend>
			{% set inputs = set.inputs %}
			{% include 'form.njk' %}
		</fieldset>
	{% endfor %}
	<input type="submit" class="btn-primaire-h56">
</form>
