---
layout: layouts/base.njk
---
<h1 class="text-center my-3">{{ title or metadata.title }}</h1>
<form class="" action="/finish" method="GET">
	{% for set in fieldsets %}
		<fieldset id="{{ set.legend | slug }}-fieldset" class="card mb-3 {{ set.classes if set.classes }}">
			<legend class="card-header">{{ set.legend }}</legend>
			<div class="card-body">
				{% set inputs = set.inputs %}
				{% include 'form.njk' %}
			</div>
		</fieldset>
	{% endfor %}
	<input type="submit" class="btn btn-primary" value="Valider">
</form>
