---
layout: layouts/base.njk
---
<div class="container-fluid home-row d-flex align-items-center justify-content-center">
  <div class="row flex-grow-1">
    <div class="col-12 col-lg-6 d-flex align-items-center">
      <img src="{{ '/assets/home-S2H.svg' | url }}" class="img-fluid">
    </div>
    <div class="col-12 col-lg-6 d-flex align-items-center">
      <div id="step-0" class="step">
        <h1 class="text-center my-3 text-secondary py-4 fw-bold">{{ title }}</h1>
        <p>Vous bénéficiez par votre employeur d'une couverture santé gérée par SCIACI SAINT-HONORE.</p>
        <p>Pour vous affilier, rien de plus simple, il vous suffit de remplir les informations nécessaires sur ce site. Plus besoin de papier !</p>
        <p>Vous aurez besoin de <strong>5 minutes maximum</strong> pour compléter ce formulaire.</p>
        <button class='btn btn-primary' onclick="goToStep('#1')" type="button">C'est parti !</button>
      </div>
      {% for step in path %}
      <div id="{{ step.id }}" class="step" hidden>
        <h2 class="">{{ step.title }}</h2>
        {% if step.subtitle %}
        <subtitle>{{ step.subtitle }}</subtitle>
        {% endif %}
        {% if step.type === 'drop' %}
        <div class="row row-cols-1 my-5">
          <div class="col">
            <div class="card justify-content-center text-center dropzone">
              Déposer votre fichier ici ou
              <input id="{{ step.id }}-upload" type="file" class="d-none file-select">
              <label for="{{ step.id }}-upload">choisissez-le</label>
            </div>
          </div>
        </div>
        <button type="buton" class="btn btn-primary">Envoyer</button>
        {% else %}
        <div class="row row-cols-1 row-cols-lg-2">
          {% for choice in step.choices %}
          <div class="col">
            <a href="{{ choice.href }}" class="btn d-block" onclick="goToStep('{{ choice.href }}')">
              <div class="card justify-content-center p-2">
                <p class="card-text m-0">{{ choice.text }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<a href="https://www.freepik.com/vectors/education">Education vector created by stories - www.freepik.com</a>

<!-- 
- avez-vous ?
 |_ Oui
    |_ Dropzone
 |_ Non
    |_ Je m'engage à les remettre sous 15 jours. Lien dans le mail + relance
    |_ Je demande à l'employeur
    -->
